---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { SeoOptions } from '../types/seo';

interface Props {
	title: string;
	description: string;
	seo?: SeoOptions;
}

const { title, description, seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} seo={seo} />
	</head>
	<body class="d-flex flex-column min-vh-100 bg-body-tertiary">
		<Header />
		<main class="flex-grow-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
