---
import BaseLayout from './BaseLayout.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<div class="container py-4 py-md-5">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<slot />
			</div>
		</div>
	</div>
</BaseLayout>
